{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}
                <div class="col-lg-6">
                    <div class="p-lg-5 p-4">
                        <div class="text-center">
                            <h5 class="mb-0">{% trans "Password Reset" %}</h5>
                        </div>
                        <div class="mt-5">
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <p class="text-muted mx-5">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                            <div class="mt-5">
                                <a href="{% url 'dashboard' %}" class="btn btn-primary w-100">Back to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}
    