{% extends 'layout.html' %}
{% load static %}
{% block title %} Ajouter un devis {% endblock title %}

{% block content %}

    {% block pagetitle %}
        {% include "partials/page-title.html" with pagetitle="Devis" title="Ajouter un devis" %}
    {% endblock pagetitle %}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.errors }}
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Document</label>
                                {{ form.name }}
                            </div>
                        </div><!--end col-->
                         <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Client</label>
                                {{ form.client }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Ville Départ</label>
                                {{ form.type_service }}
                                {{ form.start_city }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Ville Arrivée</label>
                                {{ form.end_city }}
                            </div>
                        </div><!--end col-->

                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Date Départ</label>
                                {{ form.date_start }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Heure Départ</label>
                                {{ form.time_start }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Date de  Retour</label>
                                {{ form.date_end }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Heure de Retour</label>
                                {{ form.time_end }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Durée de location</label>
                                {{  }}
                            </div>
                        </div><!--end col-->

                        <div class="col-6">
                            <div class="mb-3">
                                <label for class="form-label">Service</label>
                                {{ form.services }}
                            </div>
                        </div><!--end col-->

                         <div class="col-12">
                            <div class="mb-3">
                                <label for class="form-label">Message</label>
                                {{ form.description }}
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
