{% extends 'base.html' %}
{% load static %}
{% block title %} Invoices Details {% endblock title %}


{% block content %}

    <div class="container-fluid invoice-container">
  <!-- Header -->
  <header>
	  <div class="row">
		<div class="col-sm-6">
		  <img id="logo" src="{% static 'images/p-15.png' %}" title="logo" alt="Koice" height="300"/>
		</div>
		<div class="col-sm-6">
			<div class="text-top p-2 border rounded-2 bg-light">
		  		<h4 class="text-4 mb-1">Fature N° </h4>
				<p class="mb-1">Date :  </p>
			</div>
			<div class="address mt-3 border rounded-2 p-2 bg-light">
			<address>
		  Smith Rhodes<br />
		  15 Hodges Mews, High Wycombe<br />
		  HP12 3JL<br />
		  United Kingdom
		  </address>
			</div>
		</div>
	  </div>
  </header>

  <!-- Main Content -->
  <main>
		<div class="table-responsive">
		<table class="table border mb-0">
			<thead>
			  <tr class="bg-light">
				<td class="col-5"><strong>Déscription</strong></td>
				<td class="col-1 text-center"><strong>Durée</strong></td>
				<td class="col-2 text-center"><strong>PU HT</strong></td>
				<td class="col-2 text-end"><strong>Total</strong></td>
			  </tr>
			</thead>
			<tbody>
				<tr>
				  <td class="col-5">
					NUUVO C11 2023 (Cool Blue, 128 GB)
					<p class="text-0 text-black-50 lh-base mb-0">Warranty: 1 Year Warranty for Mobile and 6 Months for Accessories</p>
					<p class="text-1 mb-0">1. [IMEI/Serial No: 862065058646712 ]</p>
				  </td>
				  <td class="col-1 text-center">1</td>
				  <td class="col-2 text-center">$299</td>
				  <td class="col-2 text-end">$274.00</td>
				</tr>
				<tr>
				  <td class="col-5">
					Flip Cover for NUUVO C11 2023
					<p class="text-0 text-black-50 lh-base mb-0">Brown, Pack of: 1</p>
				  </td>
				  <td class="col-1 text-center">1</td>
				  <td class="col-2 text-center">3 €</td>
				  <td class="col-2 text-end">3.00 €</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="table-responsive">
			<table class="table border border-top-0 mb-0">
				<tr class="bg-light">
				  <td class="text-end"><strong>Total HT :</strong></td>
				  <td class="col-sm-2 text-end">277.00 €</td>
				</tr>
				<tr class="bg-light">
				  <td class="text-end"><strong>TVA :</strong></td>
				  <td class="col-sm-2 text-end">15.00 €</td>
				</tr>
				<tr class="bg-light">
				  <td class="text-end"><strong>Net à payé :</strong></td>
				  <td class="col-sm-2 text-end">292.00 €</td>
				</tr>
			</table>
		</div>
  </main>
  <!-- Footer -->
  <footer class="mt-5">


  <p class="text-0 mb-0"><strong>Devis valable 15 jours à compter de la date d'envoi.</strong> Vous pouvez procédez au réglement d'un acompte de 50% ou de la totalité de votre location,
	  cela confirmera votre réservation de voiture avec chauffeur. Vous recevrez par mail la confirmation de votre réservation ansi que votre facture. 4 à 3 jours avant le début de votre réservation, vous recevrez les informations concernant votre chauffeur.</p>
<hr class="my-2">
  <div class="text-center">
	<div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print & Download</a> </div>
  </div>
  </footer>
</div>

{% endblock content %}

