{% extends 'base.html' %}
{% load static %}
{% load invoice_filters %}
{% block title %} Invoices Details {% endblock title %}


{% block content %}

    <div class="container-fluid invoice-container">
  <!-- Header -->
  <header>
	  <div class="row">
		<div class="col-sm-6">
		  <img id="logo" src="{% static 'images/p-15.png' %}" title="logo" alt="logo" height="300"/>
		</div>
		<div class="col-sm-6">
			<div class="text-top p-2 border rounded-2 bg-light">
		  		<h4 class="text-6 mb-1">{{ invoice.name }} <span class="text-2">Référence :  {{ short_uuid }}</span></h4>
				<p class="mb-1">Date :  {{ today|date:"d M Y" }}</p>
			</div>
			<div class="address mt-3 border rounded-2 p-2 bg-light">
			<address>
		  {{ invoice.client.title_social }} {{ invoice.client.first_name }} {{ invoice.client.last_name }}<br />
		  Tél : {{ invoice.client.phone }}<br />
		  {{ invoice.client.address_set.first.country|default_if_none:"Pays non spécifié" }}<br /><br />


		  </address>
			</div>
		</div>
	  </div>
  </header>

  <!-- Main Content -->
 <main>
    <div class="table-responsive">
        <table class="table border mb-0">
            <thead>
                <tr class="bg-light">
                    <th class="col-5"><strong>Description</strong></th>
                    <th class="col-1 text-center"><strong>Durée</strong></th>
                    <th class="col-2 text-center"><strong>PU HT</strong></th>
                    <th class="col-2 text-end"><strong>Total</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for service in invoice.services.all %}
                    <tr>
                        <td class="col-5">
                            {{ service.name }}
                            <p class="text-0 text-black-50 lh-base mb-0">{{ service.description }}</p>
                        </td>
                        <td class="col-1 text-center">{{ service.duration }}</td> <!-- Utilisation de la durée de l'invoice -->
                        <td class="col-2 text-center">{{ service.price }} €</td>
                        <td class="col-2 text-end">{{ service.price|multiply:service.duration }} €</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">Aucun service disponible</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="table-responsive">
        <table class="table border border-top-0 mb-0 table-half-page-right mt-3">
            <tr class="bg-light">
                <td class="text-end"><strong>Total HT :</strong></td>
                <td class="col-sm-2 text-end">{{ invoice.get_total_ht }} €</td>
            </tr>
            <tr class="bg-light">
                <td class="text-end"><strong>TVA :</strong></td>
                <td class="col-sm-2 text-end">{{ invoice.get_tva }} €</td>
            </tr>
            <tr class="bg-light">
                <td class="text-end"><strong>Acompte :</strong></td>
                <td class="col-sm-2 text-end">{{ invoice.advance_payment }} €</td>
            </tr>
            <tr class="bg-light">
                <td class="text-end"><strong>Net à payer :</strong></td>
                <td class="col-sm-2 text-end">{{ invoice.get_net_a_payer }} €</td>
            </tr>
        </table>
    </div>
    </div>


</main>
  <!-- Footer -->
  <footer class="mt-5">


  <p class="text-0 mb-0"><strong>Devis valable 15 jours à compter de la date d'envoi.</strong> Vous pouvez procédez au réglement d'un acompte de 50% ou de la totalité de votre location,
	  cela confirmera votre réservation de voiture avec chauffeur. Vous recevrez par mail la confirmation de votre réservation ansi que votre facture. 4 à 3 jours avant le début de votre réservation, vous recevrez les informations concernant votre chauffeur.</p>
<hr class="my-2">
  <div class="text-center">
	<div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print & Download</a> </div>
  </div>
  </footer>
</div>

{% endblock content %}

