{% extends 'layout.html' %}
{% load static %}
{% block title %} Ajouter un devis {% endblock title %}

{% block content %}

    {% block pagetitle %}
        {% include "partials/page-title.html" with pagetitle="Devis" title="Ajouter un devis" %}
    {% endblock pagetitle %}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.errors }}
                        <div class="col-6">
                            <div class="mb-3">
                                {{ form.name }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                {{ form.start_city }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">
                                {{ form.end_city }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.client }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.date_start }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.time_start }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.date_end }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.time_end }}
                            </div>
                        </div><!--end col-->
                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.duration }}
                            </div>
                        </div><!--end col-->

                        <div class="col-6">
                            <div class="mb-3">

                                {{ form.services }}
                            </div>
                        </div><!--end col-->

                         <div class="col-12">
                            <div class="mb-3">

                                {{ form.description }}
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
